<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login</title>
        <link th:href="@{/styles/mission.css}" rel="stylesheet" />
    </head>
    <body>
    
    
    <div class="grid-container">




 	<div class="grid-item item1">
<h3>Our Mission</h3>
<p>	While this began as just a school project - it has evolved into so much more. World of Widgets is a website and app used for bartering with friends over the internet.
The goal is to provide a fun and secure environment for everyone to participate in exchanging goods, or exchanging goods for currency.
We don't agree with big industry and we want to run this ship on the bare minimum - meaning we don't price gouge and we arn't interested in your data.
The sole mission is to provide this service with transparency so our users can shop online hassle free.</p>
 	</div>
 	<div class="grid-item item2">

 	</div>
 	<div class="grid-item item3">
	<img class="center"th:src="@{images/redArrow.png}" style="width:50%;height:30%px;"/>
 	</div>
 	
 	<div class="grid-item item4">
 	
 	</div>

 	<div class="grid-item item6">
 	
 	</div>
 	<div class="grid-item item7">
 	<img class="center"th:src="@{images/blueArrow.png}" style="width:50%;height:30%px;"/>
 	</div>
 	<div class="grid-item item8">
 	
 	</div>
 	<div class="grid-item item9">
 	<h3>What we Expect of You</h3>
<p>	We just ask that you give us feedback. </p>
<p>	One of the significant drivers behind this project is providing a great service with none of the other hassels that are encountered on other online mediums.
Therefore having great security and a strong userbase is our number 1 priority. I encourage everyone here to report any suspicious activity through our reporting system no matter how insignificant it may seem.
That way our team of experts can keep this site as it is meant to be - the tightest ship on the web!</p>
 	</div>
 	</div>
 	
 	 	
 	 	</div>

    </body>
</html>