<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add secret Questions!</title>

<link th:href="@{/styles/message_page.css}" rel="stylesheet" />


</head>
<body>
      
 
 <form th:action="@{/userSecrets}" method="post" >
	<div>Select a Secret Question :</div>
    <div><select name="secret1">
	<option th:each="secret1 : ${secretQuestion1}" th:text="${secret1}"/>
	</select></div>
	<label> Answer 1 : <input type="text" name="answer1"/> </label><br>
	 
	  
	  	<div>Select a Secret Question :</div>
    <div><select name="secret2">
	<option th:each="secret2 : ${secretQuestion2}" th:text="${secret2}"/>
	</select></div>
	  <label> Answer 2 : <input type="text" name="answer2"/> </label><br>
	  
	  
	  	<div>Select a Secret Question :</div>
    <div><select name="secret3">
	<option th:each="secret3 : ${secretQuestion3}" th:text="${secret3}"/>
	</select></div>
	  <label> Answer 3 : <input type="text" name="answer3"/> </label><br>
	  

			
    <input type="submit" value="Add User" >
    </form>
</body>