.light-blue {
	background-color: #e1ebff;
}

.dark-green {
	background-color: #66ff99;
	color: FFFFFF;
}

.dark-blue {
	background-color: #4dd2ff;
	color: FFFFFF;
}

.light-red {
	background-color: #dc3545;
	color: #000000;
}

