#order-info {
	margin: auto;
	width: 60%;
	border: 3px solid #00bfff;
	border-radius: 6px;
	padding: 10px;
	background-color: #e6ffff;
}

.order-info-subsection {
	border-top: 1px solid black;
}

.header-text {
	text-align: center;
}

.button-row {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.button-row > button {
	margin: 5px;
}

.styled-button {
	background-color: #00ffbf;
	color: black;
	width: 120px;
	border-radius: 4px;
}

form {
	margin: auto;
	width: 50%;
}

.button-row {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.button-row > div {
	padding-left: 10px;
	padding-right: 10px;
}